# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?

# Editor / IDE
.vscode/
.idea/
*.swp
*~

# Node
node_modules/
npm-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Next.js
/.next/
/out/
/build
next-env.d.ts
*.tsbuildinfo
.turbo

# Env / Secrets
.env
.env.*
!.env.example

# Vercel
.vercel/

# Logs
*.log
